<h1>Create a new restaurant</h1>

<%= simple_form_for @restaurant do |f| %>
  <%= f.input :name %>
  <%= f.input :address %>
  <%= f.select :category, %i[chinese italian japanese french belgian]  %>
  <%= f.button :submit, class: "btn-outline-secondary" %>
<% end %>
